<div class="jumbotron bg-white ">
    <div class="row">
    <div class="card col">
    <div class="ui statistic">
        <div class="label">
           <h3>CONFIRMED</h3>
        </div>
        <div class="value">
            <h2>{{totalConfirmed}}</h2>
        </div>
    </div>
    </div>
    <div class="card col">
        <div class="ui statistic">
            <div class="label">
                <h3>RECOVERED</h3>
             </div>
             <div class="value">
                 <h2>{{totalRecovered}}</h2>
             </div>
        </div>
        </div>
        <div class="card col">
            <div class="ui statistic">
                <div class="label">
                    <h3>DEATHS</h3>
                 </div>
                 <div class="value">
                     <h2>{{totalDeaths}}</h2>
                 </div>
            </div>
            </div>
            <div class="card col">
                <div class="ui statistic">
                    <div class="label">
                        <h3>ACTIVE</h3>
                     </div>
                     <div class="value">
                         <h2>{{totalActive}}</h2>
                     </div>
                </div>
                </div>    
    </div>
</div>